:root {
    --main-color: #f1ce83;
    --main-background: #f6f4f1;
    --point-color: #ffe4a9;
    --line-or-char: #b7ab9e;
    --digital-num: #957e5f;
    --upper-index: #f2e5c7;
    --disable-btn: #f1eee8;
  }